[datafile]
description="Umi cities data for Freeciv"
options="+Freeciv-3.1-ruleset web-compatible"
format_version=20

; 専門家とは、タイルで労働しない市民のことです。
; 通常、そのタイプの専門家の条件を満たしている場合、各市民をどのタイプの専門家にするかを、プレイヤーは選択することができます。
;
; 以下は専門家についての項目で、専門家のタイプごとに1つずつあります。
; タグ名（[specialist_*]）は一意であれば問題ありません。
;
; 各専門家について、以下の項目を設定することができます：
;
; name          = プレイヤーが目にする翻訳可能な（複数形の）名前
;                 ただし、プレイヤーが専門家の名前を目にすることは多くありません。
; rule_name     = （オプション）セーブファイルやルールセットなどにおける内部名
;                 この項目を省略した場合、"name"が内部名としても使用されます。
;                 セーブファイルで使用される名前を変更することはできないので、ルールセットがリリースされた後に"name"を変更する場合は、"rule_name"を変更前の"name"と同じ値に設定してください。
; short_name    = 都市報告などで使用される一文字の略称
;                 "name"の最初の文字とします。
; graphic       = グラフィックを指定するタグ
;                 番号に基づく異なる画像がサポートされています。
;                 画像が見つからない場合、代わりにプレーンタグが使用されます。
; graphic_alt   = グラフィックが見つからない場合の、予備のグラフィックタグ。
; reqs          = 専門家を選択するための条件
;                 (条件についてはeffects.rulesetとREADME.effectsを参照)
; helptext      = （オプション）ヘルプテキスト
;                 xgettextが機能するように、改行はエスケープしてください。

[specialist_poet]
name        = _("詩人")
rule_name   = "Poet"
short_name	= _("詩")
graphic     = "specialist.entertainer"
reqs		=
    { "type", "name", "range"
    }
helptext        = _("\
詩人は1人あたり毎ターン2ptの贅沢ポイントを産出します。\
\n\
贅沢ポイントの効果については「幸福」節を参照してください。\
")

[specialist_scholar]
name        = _("学者")
rule_name   = "Scholar"
short_name	= _("学")
graphic     = "specialist.scientist"
reqs		=
    { "type", "name", "range"
    }
helptext        = _("\
学者は1人あたり毎ターン2ptの研究ポイントを産出します。\
")

[specialist_taxman]
name        = _("徴税人")
rule_name   = "Taxman"
short_name	= _("税")
graphic     = "specialist.taxman"
reqs		=
    { "type", "name", "range"
    }
helptext        = _("\
徴税人は1人あたり毎ターン金2を産出します。\
")

[parameters]
; サイズがこの値以上の都市では、ユニットを編入させて人口を増やすことができません。
add_to_size_limit = 8

angry_citizens          = TRUE  ; FALSEの場合、不幸市民は発生しなくなります。
celebrate_size_limit    = 3     ; サイズがこの値未満の都市では、祝祭を開催することができません。

changable_tax = TRUE            ; set to FALSE to disallow changing of tax rates
;forced_science = 0		; set these fields when changeable_tax is turned off
;forced_luxury = 100
;forced_gold = 0

vision_reveal_tiles  = TRUE     ; civ1 & 2 default FALSE

pop_report_zeroes    = 4        ; Population in reports in tens of thousands

[citizen]
nationality          = TRUE     ; account for the nationality of the citizens
convert_speed        = 50       ; base probability 50/1000 -> once every 20 turns
partisans_pct        = 75       ; percentage of own nationality to inspire partisans
                                ; if 0, original city owner information is used instead
conquest_convert_pct = 0        ; percentage which converts to the new nation
                                ; after a city was conquered. Applied separately for each
                                ; nationality present in the city, and number of
                                ; converted people rounded up

[missing_unit_upkeep]
; Get rid of a unit the city is unable to pay the X upkeep of.
; X_protected  - never get rid of a unit with any of the listed unit type
;                flags.
; X_unit_act   - have the unit perform the listed actions until success,
;                death or the list ends.
; X_wipe       - wipe the unit if it survived performing the actions listed
;                above.

food_protected    = "EvacuateFirst"
; food_unit_act   =
food_wipe         = TRUE

; TODO: Should missing gold upkeep really be able to kill units with the
; EvacuateFirst unit type flag?
; gold_protected  =
; gold_unit_act   =
gold_wipe         = TRUE

shield_protected  = "EvacuateFirst"
shield_unit_act   = "Help Wonder", "Disband Unit Recover", "Disband Unit"
shield_wipe       = FALSE
