[datafile]
description="Default nations data for Freeciv"
options="+Freeciv-3.1-ruleset web-compatible"
format_version=20

; このセクションには、freeciv-ruleditとfreeciv-ruleupのためのメタ情報が含まれています。
; これらはゲームにおいては何の効果もありません。
[ruledit]

; include文を記述する民族リスト
; この項目を省略した場合、すべての民族はnations.ruleset自体に保存されます。
nationlist = "default/nationlist.ruleset"

; 別の民族リストが使用されていても、nations.rulesetに追加する民族のリスト
embedded_nations = "Barbarian", "Pirate"

[compatibility]
; 個別に設定されていない場合の、すべての民族における初期の政治体制
default_government = "Despotism"

[default_traits]
; AI特性のデフォルト値
;
; 各種のAI特性について、民族固有の値が設定されていない場合に使用されます。
; この項目を省略した場合、デフォルト値は50になります。
;
; ゲーム設定におけるAI特性の分布方法が「固定 (FIXED)」である場合、各種のAI特性は「特性名_default」に設定されます。
; この場合、「特性名_default」が設定されていなければ、特性は「特性名_min」と「特性名_max」の中間値に設定されます。
;
; 分布方法が「ランダム (EVEN)」である場合、特性は「特性名_min」と「特性名_max」の間でランダムに設定されます。

; どれだけ領土の拡大を望むか
expansionist_min = 50
expansionist_max = 70
expansionist_default = 60

; どれだけ交易路の設立を望むか
trader_min = 50
trader_max = 70
trader_default = 60

; どれだけ簡単に宣戦布告するか
aggressive_min = 50
aggressive_max = 70
aggressive_default = 60

; どれだけ都市施設の建設を望むか
builder_min = 50
builder_max = 70
builder_default = 60

; [ruledit]セクションと同期させてください。
*include "default/nationlist.ruleset"
; このルールセットは、2つの民族のバーバリアンを使用します。
*include "nation/barbarian.ruleset"
*include "nation/pirate.ruleset"
